@page
@model EmailModel
@{
    ViewData["Title"] = "Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="card">
    <div class="card-body">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Current Email</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" disabled />
                    @if (Model.IsEmailConfirmed)
                    {
                        <span class="input-group-text text-success">Verified</span>
                    }
                    else
                    {
                        <button type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-outline-warning">Verify</button>
                    }
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="new@example.com" />
                <label asp-for="Input.NewEmail">New Email</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change Email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
